@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Syne+Tactile&display=swap');


/*root é onde colocas as variaveis (--variavel)*/
:root{
    --fonte1: 'Arvo', serif;
    --fonte2:  'Syne Tactile'; 
}



*{
    margin: 0px;
    padding: 0px;
    

}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: rgb(228, 128, 47);
    color: white;
    text-align: center;
    

}

header > h1{
    
    font-family: var(--fonte2);
    padding-top: 20px;
    /* text-transform: uppercase;  colcoar maiusculo tudo*/
    font-variant: small-caps; /*Coloca em maiusculo a primeira letra das frases*/
    font-size: 10vw;
    margin: 0px;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder; /*negrito*/

}

header a:hover, footer a:hover{
    text-decoration: underline; /*sublinhado*/
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-size: 2vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(53, 52, 52);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover; /*deixa  a imagem toda ocupar o lugar todo*/
    background-attachment: fixed; /* Esse deixa a iamgem de fundo fixa*/


}

section.imagem > p{
    display: inline-block; 
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: 2px 2px 0px black;
    
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    

}
footer{
    background-color: rgb(228, 100, 15);
    color: white;
    text-align: center;
    padding: 10px;
}
