@charset "UTF-8";

*{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    /*height: 100%;*/
    
}

body{
    background-image: linear-gradient(to right, #F2C2C2, #eed9d9);
}

main{
    background-color: white;
    border-radius: 30px;
    box-shadow:5px 5px 15px hsla(22, 16%, 51%, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8BD1D9;
    text-align: center;
    text-shadow: 1px 1px 2px #f264308c;

}

h2{
    
    color: #F2A81D;


}

p{
    text-align: justify;

}